.explore-challenge-container {
  padding-top: 72px;
  padding-bottom: 98px;
  background-color: #002A3B;
  height: fit-content;
}

.explore-challenge-search-parent {
  /* width: fit-content; */
  margin: auto;
}

.explore-challenge-heading {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  line-height: 40px;
  color: white;
}

.search-div {
  margin-top: 64px;
  /* width: fit-content; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.search-field-side{
  grid-column: 4 / 10;
  justify-self: center;
}

.search-filter-side{
  justify-self: left;
  grid-column: 10 / 11;
  margin-left: -2rem;
}

.search-div button {
  border-style: none;
  height: 50px;
  width: 50px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border-color: none;
}

.input-search-field:focus {
  outline-style: none;
}

.search-plus-filter-container{
  height: fit-content;
  width: 70%;
  margin: auto;
  display: grid;
  justify-items: center;
  justify-content: center;
  grid-template-columns: 2fr 1fr;
}

.input-search-field {
  width: 780px;
  height: 50px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 10px;
  border-style: none;
  font-weight: 600;
}

/* .filter-div{
  grid-column: 11 /13 ;
} */
