input[type= 'file']{
  display: none;
}

.image-upload-div{
  margin-top: 44px;
}

.image-upload-div > label{
  font-weight: 500px;
  font-family: Inter;
  line-height: 19.36px;
  color: #333333;
}

.file-upload-label{
  cursor: pointer;
  width: 236px;
  height: 47px;
  background-color: #D9D9D9;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 500;
  font-family: Inter;
  color: #666666;
  gap: 3.83px;
  margin-top: 19px;
}